.wrap-login {
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 200px auto;
  transition: all .3s;
  &:hover {
    box-shadow: 0 8px 8px #ccc;
    transform: translateY(-10px);
  }
}